<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<title>Taco Cloud</title>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
	<script defer th:src="@{/js/main.js}"></script>
	<script>
		// On page load or when changing themes, best to add inline in `head` to avoid FOUC
		if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
			document.documentElement.classList.add('dark');
		} else {
			document.documentElement.classList.remove('dark')
		}
	</script>
</head>
<body>
<header>
	<nav class="bg-white dark:bg-gray-900 sticky w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
		<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
			<a th:href="@{/}" class="flex items-center space-x-3 rtl:space-x-reverse">
				<img class="h-24" th:src="@{/images/TacoCloud.png}" alt="Taco Cloud Logo">
			</a>
			<div class="flex md:order-2 space-x-3 md:space-x-5 rtl:space-x-reverse">
				<button id="theme-toggle" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
					<svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
					<svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
				</button>
				<button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
					<span class="sr-only">Open main menu</span>
					<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
					</svg>
				</button>
			</div>
			<div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
				<ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
					<li>
						<a th:href="@{/}" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500" aria-current="page">Home</a>
					</li>
					<li>
						<a th:href="@{/design}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Order</a>
					</li>
					<li>
						<a th:href="@{/orders/current}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Cart</a>
					</li>
					<li>
						<a th:href="@{/contact}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

</header>
<main>
	<h1 th:text="'Order your taco creations!'" />
	<img th:src="@{/images/TacoCloud.png}" alt="Taco Cloud Logo" />

	<form method="POST" th:action="@{/orders}" th:object="${tacoOrder}">
		<h3>Your tacos in this order:</h3>
		<a th:href="@{/design}" id="another">Design another taco</a><br/>
		<ul>
			<li th:each="taco : ${tacoOrder.tacos}">
				<span th:text="${taco.name}">taco name</span></li>
		</ul>
		<h3>Deliver my taco masterpieces to...</h3>
		<label for="deliveryName">Name:
		<input type="text" th:field="*{deliveryName}"/>
		<span class="validationError"
		      th:if="${#fields.hasErrors('deliveryName')}"
		      th:errors="*{deliveryName}">CC Num Error</span>
		 </label>
		<br/>
		<label for="deliveryStreet">Street address:
		<input type="text" th:field="*{deliveryStreet}"/>
		<span class="validationError"
		      th:if="${#fields.hasErrors('deliveryStreet')}"
		      th:errors="*{deliveryStreet}">CC Num Error</span>
		 </label>
		<br/>
		<label for="deliveryCity">City:
		<input type="text" th:field="*{deliveryCity}"/>
		<span class="validationError"
		      th:if="${#fields.hasErrors('deliveryCity')}"
		      th:errors="*{deliveryCity}">CC Num Error</span>
		 </label>
		<br/>
		<label for="deliveryState">State:
		<input type="text" th:field="*{deliveryState}"/>
		<span class="validationError"
		      th:if="${#fields.hasErrors('deliveryState')}"
		      th:errors="*{deliveryState}">CC Num Error</span>
		 </label>
		<br/>
		<label for="deliveryZip">Zip code:
		<input type="text" th:field="*{deliveryZip}"/>
		<span class="validationError"
		      th:if="${#fields.hasErrors('deliveryZip')}"
		      th:errors="*{deliveryZip}">CC Num Error</span>
		 </label>
		<br/>
		<h3>Here's how I'll pay...</h3>
		<label for="ccNumber">Credit Card #:
		<input type="text" th:field="*{ccNumber}"/>
		<span class="validationError"
		      th:if="${#fields.hasErrors('ccNumber')}"
		      th:errors="*{ccNumber}">CC Num Error</span>
		 </label>
		<br/>
		<label for="ccExpiration">Expiration:
		<input type="text" th:field="*{ccExpiration}"/>
			<span class="validationError"
		      th:if="${#fields.hasErrors('ccExpiration')}"
		      th:errors="*{ccExpiration}">CC Num Error</span>
	 </label>
		<br/>
		<label for="ccCVV">CVV:
		<input type="text" th:field="*{ccCVV}"/>
			<span class="validationError"
		      th:if="${#fields.hasErrors('ccCVV')}"
		      th:errors="*{ccCVV}">CC Num Error</span>
	 </label>
		<br/>
		<input type="submit" value="Submit Order"/>
	</form>

</main>
</body>
</html>
